* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

a {
    color: darkgrey;
}

header {
    padding: 2.5em 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

header > h1, header > div {
    flex: 1;
    align-self: center;
    /* padding-right: 6em; */
}

header > h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

header > div > p:first-child {
    padding-bottom: .75em;
    font-size: 1.5em;
}

header > div > p:last-child {
    line-height: 1.5em;
    font-size: 1.2em;
}

.image {
    width: 100%;
    padding: 0 10% ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27%, 1fr));
    gap: 2em;
}

.image > div {
    width: auto;
    place-self: center;
    font-size: 1.4em;
    transition: all .4s ease;
}

.image > div:hover, .images > div:focus {
    transform: scale(1.05);
}

.image > div:nth-last-of-type(odd) {
    padding-top: 40%;
}

img {
    width: 100%;
}

footer {
    padding: 3em 0;
    font-size: 1.5rem;
}









@media screen and (max-width: 400px) {
    header {
        padding: 2.5em 1em;    

    }

    .image > div {
        font-size: 1em;
    }
}

